#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #FCFAF2;
  gap: 20px;
}


.text-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FCFAF2;
}
.card-text {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
.card-text1 {
  text-align: center;
}
.card-text2 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  background-color: #EB8DB5;
}
.card-title {
  text-align: center;
  background-color: #FCFAF2;
  border-top: 1px solid #EB8DB5;
  border-bottom: 1px solid #EB8DB5;
  border-left: 1px solid #EB8DB5;
  border-right: 1px solid #EB8DB5;
}
.container {
  margin: 0 auto;
  height: 10vh;
  background-color: #FCFAF2;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
}

#cat-btn {
  color: #FFBFC5;
  background-color: #FCFAF2;
  border-color: #FFBFC5;
  padding: 10px 30px;
  font-weight: bold;
}
#dog-btn {
  color: #EB8DB5;
  background-color: #FCFAF2;
  border-color: #FFBFC5;
  padding: 10px 30px;
  font-weight: bold;
}
#dino-btn {
  color: #D4A3C4;
  background-color: #FCFAF2;
  border-color: #A8D1E7;
  padding: 10px 30px;
  font-weight: bold;
}
#all-pets-btn {
  color: #A8D1E7;
  background-color: #FCFAF2;
  border-color: #D4A3C4;
  padding: 10px 30px;
  font-weight: bold;
}

.card-img-top {
  max-width: auto;
  height: 200px;
  border-top: 1px solid #EB8DB5;
  border-bottom: 1px solid #EB8DB5;
  border-left: 1px solid #EB8DB5;
  border-right: 1px solid #EB8DB5;
  background-color: #FCFAF2;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FCFAF2;
}

#form-submit {
  color: #FCFAF2;
  background-color: #FFBFC5;
  border-color: #FFBFC5;
}

#delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;

}
